<% provide(:title, 'Sobre Nosotros') %>

<!--panel principal!-->
<td id="panel">

	<h3>Sobre Nosotros<h3>

 	<center>
 		<iframe width="640" height="360" src="http://www.youtube.com/embed/OwVWlsbjMd0?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
	<p> Buenas, somos <b>Adrián</b> y <b>Fran</b> y nosotros formamos <b>Pass-It</b>. Somos <b>dos estudiantes</b> de Ingeniería de Software en la Universidad de Málaga y por supuesto no somos matemáticos ni mucho menos. Nuestra <b>idea</b> es crear una comunidad sencilla en la que todos nos podamos <b>ayudar</b> a afrontar las dificultades que nos encontramos en nuestros estudios día a día. No solo intentamos ayudar con nuestros vídeos (que distan mucho de ser algo profesionales) sino que <b>intentamos</b> por todos los medios <b>crear una comunidad</b> donde todos nos ayudemos a todos. Porque nadie es experto en lo que sabe, empezando por <b>nosotros</b>, pero estamos seguro de que todos siempre podemos aportar un granito de arena. Espero que sea una buena experiencia, que os ayude, y que consigamos llegar lejos <b>todos juntos</b>. 
			<br></br>
	Un cordial saludo de Pass-It, de parte de Fran y Adrián.
	</center>

</td>

	<%= render 'layouts/espaciador' %>
		
<!--panel derecho!-->
<td id="rightpanel">
	<%= image_tag("nos.png", size: "150x99", style: "float:right;margin-left:20px") %>
	<p>Hola, somos Adrián y Fran, dos estudiantes de Ingeniería de Software. Nuestro mayor interés es que podamos aprender todos juntos, y que formemos una gran comunidad. Así que ya sabéis chicos, nosotros podemos aprobar porque #YoSoyEDU</p>
				

	<%= render 'layouts/calendar' %>			
</td>