<% provide(:title, 'Inicio') %>
<!--panel principal!-->
<td id="panel">

 	<h2>NUEVO - Disfruta de nuestros cursos !</h2>
	<center>
	<table style="text-align:center;margin-bottom:20px;">
		<thead>
			<tr>
				<th>Electrónica Digital</th>
				<th>Cálculo - Series Numéricas</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= link_to image_tag("elecDig.png"), "http://aula.tareasplus.com/PassIt-EDU/Electronica-Digital" %>
					<br>
					<ul>
						<li><a href="http://aula.tareasplus.com/PassIt-EDU/Electronica-Digital">13.99$ - 10.07€ - TareasPlus </a></li>
					</ul>
				</td>
				<td><%= link_to image_tag("calcSer.png"), "http://aula.tareasplus.com/PassIt-EDU/Calculo---Series-Numericas" %>
					<ul>
						<li><a href="http://aula.tareasplus.com/PassIt-EDU/Calculo---Series-Numericas">Gratis! - TareasPlus </a> / <a href="http://www.cursopedia.com/Ficha-Calculo---Series-Numericas">Cursopedia</a></li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
		</center>

 		<b>Bienvenidos a la página web de Pass-It</b>:
		<br><br/>			

	 	<p>Tenemos más de 100 <a class="link" target="_new" href="http://youtube.com/PassItEdu"><b>videos de matemáticas</b></a> para resolver tus dudas, deseamos que Pass-it Edu te ayude en todo lo relacionado a tus estudios, siempre que tengas alguna duda, no dudes en contactar con nosotros mediante el <a class="link" target="_new" href="/campusvirtual"><b>foro</b></a>, <a class="link" target="_new"  href="http://youtube.com/PassItEdu"><b>Youtube</b></a>, <a class="link" target="_new"  href="http://twitter.com/PassItEdu"><b>Twitter</b></a>, <a class="link" target="_new"  href="http://facebook.com/PassItEdu"><b>Facebook</b></a> o mandándonos un correo (haz click en Contacto o mira al pie de página). Puedes estar al tanto de todas las novedades en nuestro <a class="link" target="_new" href="http://passitedu.blogspot.com/"><b>Blog</b></a>.
	 		<br></br>
		Ayudanos a crecer compartiendo Pass-it en las redes sociales y comentandonos a vuestros amigos. Para el mantenimiento de la web y del proyecto puedes donar una cantidad simbólica a través de Paypal, solo si lo crees oportuno.
	 		<br></br></p>		
			
 		<center>
 			<table style="margin:20px;">
	 			<td style="border-style:dotted;padding:10px;border-radius:5px;border: 1px solid #dedede;">
	 			Aquí puedes elegir lo que quieres hacer:
	 			<br></br>
	 			<%= link_to image_tag("youtubeB.png", class: "botonLight" , title: "Quiero ver vuestros vídeos!"), "http://www.youtube.com/PassItEdu", :target => "_blank" %>
	 			<%= link_to image_tag("foroB.png", class: "botonLight" , title: "Tengo dudas, llévame al foro!"), "/campusvirtual", :target => "_blank" %>
	 			<%= link_to image_tag("blogB.png", class: "botonLight" , title: "Quiero estar a la última en novedades!"), "http://passitedu.blogspot.com/", :target => "_blank" %>
		 		</td>
	 		</table></center>

		<p>Recuerda que tienes <b><a class="link" href="/es/recursos/">multitud de recursos</a></b> accesibles para que estudies, cuando lo necesites. 
					<br></br>
		También tenemos una nueva sección con <b><a class="link" href="/es/tools/">herramientas</a></b> como un conversor de bases, o un potente ayudante para cuando tengras que afrontar ejercicios de combinatoria.
					<br></br>
		Si buscas un vídeo sobre alguna categoría específica no dudes en pasarte por nuestro <b>buscador de vídeos</b>.
				<br></br>
		Y si lo tuyo es el <b><a class="link" href="/es/disenoWeb/">diseño web</a></b> y quieres aprender, por ejemplo, como esta hecha esta web, puedes pasarte por la sección y seguro que aprenderas un montón!
					<br></br>
		Muchas gracias y un saludo. El equipo de Pass-it</p>

		<%= render 'layouts/creative' %>

</td>

	<%= render 'layouts/espaciador' %>
		
<!--panel derecho!-->
<td id="rightpanel">
	<%= image_tag("nos.png", size: "150x99", style: "float:right;margin-left:20px") %>
	<p>Hola, somos Adrián y Fran, dos estudiantes de Ingeniería de Software. Nuestro mayor interés es que podamos aprender todos juntos, y que formemos una gran comunidad. Así que ya sabéis chicos, nosotros podemos aprobar porque #YoSoyEDU</p>
				
	<%= render 'layouts/calendar' %>
</td>

		