<% provide :title, @user.username %>

<h1><%= @user.username %></h1>
<p>Find me in app/views/users/show.html.erb</p>

<h1>Followers</h1>
<% @user.followers.each do |user| %>
  <li><%= user.username %></li>
<% end %>
<h1>Following</h1>
<% @user.following.each do |user| %>
  <li><%= user.username %></li>
<% end %>

<%= render partial: 'partials/follow_button', locals: {user: @user} %>