<p>Aquí tenéis una tabla trigonométrica de las funciones seno, coseno y tangente más usadas, es decir, ángulos del primer cuadrante de la circunferencia goniométrica, con los ángulos en <span lang="latex">\pi</span> radianes más comunes.</p>
	  			<center><table class="table" border="0">
				<thead>
					<tr>
 						<th scope="col" style="background-color:#FAFAFA;"></th> <!--color de fondo (transparente par aparecer vacío)!-->
 						<th scope="col"><div lang="latex">0</div></th>
	  					<th scope="col"><div lang="latex">\frac{\pi}{6}=30^{\circ}</div></th>
	  					<th scope="col"><div lang="latex">\frac{\pi}{4}=45^{\circ}</div></th>
	  					<th scope="col"><div lang="latex">\frac{\pi}{3}=60^{\circ}</div></th>
	  					<th scope="col"><div lang="latex">\frac{\pi}{2}=90^{\circ}</div></th>
	  				</tr>
				</thead>
				<tbody>
					 <tr>
	  			    	<th><div lang="latex">sen\; x</div></th>
	  			    	<td><div lang="latex">0</div></td>
	  			    	<td><div lang="latex">\frac{1}{2}</div></td>
	  			    	<td><div lang="latex">\frac{\sqrt{2}}{2}</div></td>
	  			    	<td><div lang="latex">\frac{\sqrt{3}}{2}</div></td>
	  			    	<td><div lang="latex">1</div></td>
	  			    </tr>
	  			    <tr>
	  			    	<td><div lang="latex">cos\; x</div></td>
	  			    	<td><div lang="latex">1</div></td>
	  			    	<td><div lang="latex">\frac{\sqrt{3}}{2}</div></td>
	  			    	<td><div lang="latex">\frac{\sqrt{2}}{2}</div></td>
	  			    	<td><div lang="latex">\frac{1}{2}</div></td>
	  			    	<td><div lang="latex">0</div></td>
	  			    </tr>
					<tr>
	  			    	<th><div lang="latex">tg\; x</div></th>
	  			    	<td><div lang="latex">0</div></td>
	  			    	<td><div lang="latex">\frac{\sqrt{3}}{3}</div></td>
	  			    	<td><div lang="latex">1</div></td>
	  			    	<td><div lang="latex">\sqrt{3}</div></td>
	  			    	<td><div lang="latex">no\; \exists </div></td>
	  			    </tr>
				</tbody>
				<tfoot>
					<tr><a href="http://youtu.be/6-h3H1tcQkY?t=27s" target="_new">Vídeo explicativo de cómo construir la tabla.</a></tr>
				</tfoot>
				</table></center>

				<p>Si os dáis cuenta la tabla es bastante fácil de recordar ya que como véis, los dos extremos de cada fila (por ejemplo en <i>sen(x)</i>) es 0 y 1 respectivamente, y luego en las siguientes celdas tenemos en el numerador una progesión bastante sencilla:

				<div style="margin:20px;"><center><span lang="latex">\sqrt{1}, \sqrt{2}, \sqrt{3}</span></center></div>

				Y siempre como denominador 2. La función <i>cos(x)</i> es justamente invertir la fila anterior. Y para <i>tg(x)</i> es muy fácil ya que 

				<div style="margin:20px;"><center><span lang="latex">tg\;x=\frac{sen\;x}{cos\;x}</span></center></div>

				Tan solo hay que dividir la fila de <i>sen(x)</i> entre <i>cos(x)</i> respectivamente.</p>