<% if @resource.errors.any? %>
  <div>
    <div>
      The form contains <%= pluralize(@resource.errors.count, "error") %>.
    </div>
    <ul>
    <% @resource.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>