<% provide(:title, 'Nuevo Recurso') %>
<!--panel principal!-->
<td id="panel">

	<h1>Nuevo Recurso</h1>

	<%= form_for(@resource) do |f| %>

	 <%= render 'error_messages' %>

      <%= f.label :name, "Nombre" %>
      <%= f.text_field :name %>
      <br>
      <%= f.label :url, "Nombre del fichero.ext" %>
      <%= f.text_field :url %>
	  <br>
      <%= f.label :category_id, "Categoría" %>
      <%= f.text_field :category_id %>
      <br>
      <%= f.label :pdf, "¿Pdf?" %>
      <%= f.check_box :pdf %>
      <br>
      <%= f.submit "Crear recurso" %>
    <% end %>

</td>

	<%= render 'layouts/espaciador' %>
		
<!--panel derecho!-->
<td id="rightpanel">
	<%= image_tag("nos.png", size: "150x99", style: "float:right;margin-left:20px") %>
	<p>Hola, somos Adrián y Fran, dos estudiantes de Ingeniería de Software. Nuestro mayor interés es que podamos aprender todos juntos, y que formemos una gran comunidad. Así que ya sabéis chicos, nosotros podemos aprobar porque #YoSoyEDU</p>
				
	<%= render 'layouts/calendar' %>
</td>