<% provide(:title, @resource.name.capitalize) %>
<!--panel principal!-->
<td id="panel">

 	<h1><%= @resource.name.capitalize %></h1>

 	<% if @resource.pdf? == false %>	<!-- we check if its a pdf or not !-->
 		<%= render file: "/public/resources/"+@resource.url %> 
 	<% else %>
 		<embed src=<%= "/pdf/" + @resource.url %> width="750" height="800">
 	<% end %>

</td>

	<%= render 'layouts/espaciador' %>
		
<!--panel derecho!-->
<td id="rightpanel">
	<%= image_tag("nos.png", size: "150x99", style: "float:right;margin-left:20px") %>
	<p>Hola, somos Adrián y Fran, dos estudiantes de Ingeniería de Software. Nuestro mayor interés es que podamos aprender todos juntos, y que formemos una gran comunidad. Así que ya sabéis chicos, nosotros podemos aprobar porque #YoSoyEDU</p>
				

	<%= render 'layouts/calendar' %>
</td>