/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@font-face{font-family: SourceSandPro; src: url('../fonts/SourceSansPro-Regular.otf');} /*poder usar fuentes personalizadas*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400);

body{
	background-color:#f3eedf; 
	font-size: 16px; /* toda fuente por defecto*/
    text-align:justify; /* texto ajustado a bordes*/
    font-family: 'Open Sans', sans-serif; 
    margin:0;
    padding:0;  
}
#panel{
    vertical-align: top;
    background-color: #ffffff;
	height:750px;
	width:70%;
    padding:20px 20px 50px 20px; /*todo lo que este dentro de una tabla separado del borde*/
	 /*-moz-box-shadow: 0px 0px 6px #888; /*compatibilidad sombra con otros navegadores*/
	 /*-webkit-box-shadow: 0px 0px 6px #888; 
    /*	box-shadow: 0px 0px 6px #888; /*sombra panel central*/
}
#rightpanel{
    vertical-align: top;
    background-color: #ffffff;
    height:750px;
    width:30%;
    padding:20px 20px 50px 20px; /*todo lo que este dentro de una tabla separado del borde*/
}

/* Main menu wrapper */
#menu{
    position: relative; /*menu fijo*/
    background: #c3ea74;
    height:110px;
    width:100%;
    padding:0;
    margin:0;
    font-weight: normal;
}
#menu ul{
    list-style: none;
    padding:0;
    margin:0;
    background:#c3ea74; /*fondo submenu*/
}
#menu ul a{
    text-decoration: none;
    display:block;
    color: #1b6c95; /*color de fuente*/
    margin:10px 30px 0px 30px; /*espaciando elementos del menu*/
    font-size: 18px;
    font-weight: bold;
}
#menu ul .submenu:before{
    /*content:url(../images/flecha.png);*/
    padding:5px; /*separacion entre la flecha y la letra*/
}
#nav > li{
    float:left;
}
#nav li ul {
    display:none;
    position:absolute;
    padding:10px 0px 10px 0px; /*agrandando superficie submenu*/
}
#nav li:hover > ul { /*aparece el submenu*/
    display:block;
    margin:0px 10px 0px 10px; /*margen en el submenu*/
}
#nav li:hover > ul li {  /*submenu horizontal*/
    float:left;
}

#footer{
    background: #c3ea74;
    height:150px;
    width:95%;
    padding:0;
    margin:0 auto 0 auto;
    position:relative;
    font-size: 16px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
#footer a{
     text-decoration: none;
}
#footer ul{
    list-style:none;margin:0;padding:0;font-size:14px;
}
#footer td{
    padding:20px;
}
.socialButtons{
    background-color:#ededef;
    border:1px solid #bfbfbf;
    height:25px;
    width:25px;
    border-radius:100%;
    float:right;
    margin:0 10px 10px 10px;
}

.indice a{
    text-decoration: none;
}

.link{ 									/*Link normal*/
  display: inline-block;
  border-bottom: 0.16em dashed #97CAF2;
  /* Font styles */
  text-decoration: none;
  color: black;
}
.link:hover   { border-bottom-style: dotted; }
.link:active  { border-bottom-style: solid; }
.link:visited { border-bottom: 0.16em solid #97CAF2; }

.videolink {							/*Link video*/
    display: inline-block;
    position: relative;
    /* Font styles */
    text-decoration: none;
    color: #6AB3EC;
    text-shadow: 0 1px 1px rgba(255,255,255,0.9);
}

.videolink:hover {
    color: #3C9CE7;
}

.videolink:before {
    content: "\25BA";
    font-size: 70%;
    display: inline-block;
    padding-right: 2px;
    pointer-events: none;
}

.videolink:hover:before {
    color: #ff0000;
}

/*calses auxiliares*/
.hide { /*no se muestra*/
    display: none;
}
 
.show { /*se muestra*/
    display: block;
}
.content { /*contenido*/
    font: 1.2em/1.4 "Asap",Segoe, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
 
.title { /*titular*/
    font: 1.7em/1.2 "Asap", Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif;
}
 
.code { /*codigo*/
    font: 0.8em/1.6 Monaco, Mono-Space, monospace;
}
.disabled { /*se ve a media opcaidad*/
    pointer-events: none;
    opacity: 0.5;
}
.nolink a{ /*link que parece texto normal*/
    text-decoration:none;
    color: #444444; /*color de fuente*/
}
.table{
    border:1px dashed grey;
}
.table a{
    text-decoration: none;
}
.table td{
    padding:10px;
    text-align:center;
}
.table th{
    background: rgba(0,0,0,0.1);
}
.table tr:nth-child(even) { /*zebra style para tables, al crear una tabla añadirla a la clase table!!!!*/
    background: rgba(0,0,0,0.1);
}
.table tr:hover { 
    background: rgba(0,0,0,0.2);
}
.codigo{
    background-color: #F7D358; padding:10px; border-radius:2px;margin: 20px 0px 20px 0px;
}
.triangle {
    border-color:transparent #7d90a3 transparent transparent;
    border-style:solid;
    border-width:15px;
}

.square {
    background-color: #7d90a3;
    height:19px;
    width:22px;
}
.arrow { 
    position:relative;
    border-color:transparent white transparent  transparent;
    border-style:solid;
    border-width:15px;
    -webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);
    margin:0;
}
.fixedDiv { /*panel social*/
    display: none;
    position: fixed;
    background: #c3ea74;
    width:100%;
    height:70px;
    top: 0;
    left: 0;
    z-index:1000;
}
.fixedDiv td{
    padding:20px 20px 50px 20px; /*todo lo que este dentro de una tabla separado del borde*/
}
.fixedButton{ /* boton de subir*/
    display: none;
    position: fixed;
    background: #dd4a32;
    width:50px;
    height:50px;
    bottom: 50px;
    right: 20px;
    border-radius:50%;
    z-index:1000;
    -moz-box-shadow: 0px 0px 6px #888; /*compatibilidad sombra con otros navegadores*/
    -webkit-box-shadow: 0px 0px 6px #888; 
    box-shadow: 0px 0px 6px #888; /*sombra panel central*/
}
.botonLight{
    width: 90px;
    height: 90px;
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}
.botonLight:hover
{
    width: 90px;
    height: 90px;
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}
/*hr {border: 0; height: 1px; text-align: center; background-image: -webkit-linear-gradient(left, #fff, #000, #fff);opacity:0.4;-o-linear-gradient(left, #fff, #000, #fff);opacity:0.4;-moz-linear-gradient(left, #fff, #000, #fff);opacity:0.4;}*/
.anuncio{ /*clase para identificar y darle margin a los anuncios*/
    margin:20px 0 20px 0px;
}
/*Calendario*/
.cal {
    width: 100%;
    font-size: 9pt;
    color: #000;
    text-align: center;
    line-height: 25px;
    margin:20px auto 0 auto;
}
/* definimos el nombre del mes */
.cal h2 {
    width:94%;
    float:inherit;
    font-size:12pt;
    background: rgba(75,138,5,1);
    color:#fff;
    margin-bottom: 9px;
}
/* Y es muy importante el 14% de anchura de cada elemento <li> que dá un total de 7 lis por linea */
.cal ul li {
    width:12%;
    height:22px;
    display:block;
    float:left;
    list-style:none;
    border:2px solid #fff;
    background: rgba(154,205,50,0.8);
}
/* Con la clase “day” definimos los dias de la semana*/
    .cal ul li.day {
    background:#666;
    color:#fff;
    font-weight:bold;
}
/* También fabricamos una clase para marcar dies destacados*/
.cal a.event {
    display:block;
    background:rgba(50,153,204,1);
    text-decoration:none;
    color:#FDFDFD;
    font-weight:bold;
}
/*FIN calendario*/
