<% provide(:title, 'Categorías') %>
<!--panel principal!-->
<td id="panel">

	<h1>Todas las Categorías</h1>

	<h3>Selecciona sobre qué categoría estas buscando recursos</h3>

	<% @categories.each do |cat| %>
		<div class="view view-first">  
    	<%= image_tag "categories/"+cat.img %>  
	    	<div class="mask">  
	    	<h2><%= cat.name %></h2>  
	    	<p><%= cat.s_desc %></p>  
	        <%= link_to 'Más', cat , class: 'info' %>  
	     	</div>  
		</div>  	
	<% end %>

</td>

	<%= render 'layouts/espaciador' %>
		
<!--panel derecho!-->
<td id="rightpanel">
	<%= image_tag("nos.png", size: "150x99", style: "float:right;margin-left:20px") %>
	<p>Hola, somos Adrián y Fran, dos estudiantes de Ingeniería de Software. Nuestro mayor interés es que podamos aprender todos juntos, y que formemos una gran comunidad. Así que ya sabéis chicos, nosotros podemos aprobar porque #YoSoyEDU</p>

	<%= render 'layouts/calendar' %>
</td>