<% provide(:title, 'Nueva Categoría') %>
<!--panel principal!-->
<td id="panel">

	<h1>Nueva Categoría</h1>

	 <%= form_for(@category) do |f| %>

	  <%= render 'error_messages' %>

      <%= f.label :name, "Nombre" %>
      <%= f.text_field :name %>

      <%= f.submit "Crear categoría" %>
    <% end %>

</td>

	<%= render 'layouts/espaciador' %>
		
<!--panel derecho!-->
<td id="rightpanel">
	<%= image_tag("nos.png", size: "150x99", style: "float:right;margin-left:20px") %>
	<p>Hola, somos Adrián y Fran, dos estudiantes de Ingeniería de Software. Nuestro mayor interés es que podamos aprender todos juntos, y que formemos una gran comunidad. Así que ya sabéis chicos, nosotros podemos aprobar porque #YoSoyEDU</p>
				
	<%= render 'layouts/calendar' %>
</td>