<% provide(:title, @category.name.capitalize) %>
<!--panel principal!-->
<td id="panel">

 	<h1>Recursos de <%= @category.name.capitalize %></h1>

 	<p>Selecciona el recurso que quieres visitar, si algún enlace esta roto no dudes en escribirnos a passitedu[at]gmail.com</p>

 	<% @category.resources.each do |res| %>
 		<div style="width:200px;height:150px;" class="view view-first">
 			<h3><%= res.name %></h3>
 			<%= link_to 'Acceder', res , class: "info"%> 
 		</div>
 	<% end %>

</td>

	<%= render 'layouts/espaciador' %>
		
<!--panel derecho!-->
<td id="rightpanel">
	<%= image_tag("nos.png", size: "150x99", style: "float:right;margin-left:20px") %>
	<p>Hola, somos Adrián y Fran, dos estudiantes de Ingeniería de Software. Nuestro mayor interés es que podamos aprender todos juntos, y que formemos una gran comunidad. Así que ya sabéis chicos, nosotros podemos aprobar porque #YoSoyEDU</p>
				

	<%= render 'layouts/calendar' %>
</td>