<td style="padding:0px;vertical-align:bottom;"><div style="position:relative;bottom:-16px;left:-16px;-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);" class="triangle"></div></td><!--triang der!-->
		</table>

		<div style="margin:0 auto 0 auto;" id="footer">
			<!--footer!-->
			<table style="margin:0 auto 0 auto;padding:0;">
				<td style="vertical-align:top;">
					<h4 style="margin:0;padding:0;"><b>Contacto</b></h4>
					<ul>
						<li><%= link_to "Youtube" , 'http://www.youtube.com/passitEDU', :target => "_blank" %></li>
						<li><%= link_to "Facebook" , 'http://www.facebook.com/passitEDU', :target => "_blank" %></li>
						<li><%= link_to "Twitterk" , 'http://www.twitter.com/passitEDU', :target => "_blank" %></li>
						<li>contacto[at]passitedu.es</li>
					</ul>
				</td>
				<td style="vertical-align:top;">
					<h4 style="margin:0;padding:0;"><b>Enlaces de Interes</b></h4>
					<ul>
						<li><%= link_to "¿Quiénes Somos?" , 'nosotros' %></li>
						<li><%= link_to "Foro de dudas" , 'http://www.passitedu.es/campusvirtual', :target => "_blank" %></li>
					</ul>
				</td>
				<td style="vertical-align:top;">
					<h4 style="margin:0;padding:0;"><b>Web Amigas</b></h4>
					<ul>
						<li><%= link_to "InfoVap" , 'http://www.infovap.es', :target => "_blank" %></li>
						<li><%= link_to "Mediaware" , 'http://www.mediaware.tk', :target => "_blank" %></li>
						<li><%= link_to "SomosBinarios" , 'http://www.somosbinarios.es/', :target => "_blank" %></li>
					</ul>
				</td>
				<td style="vertical-align:top;margin:0px;padding:0;" width="400">
					<p style="font-size:14px;margin:20px 0px 0px 20px;">Si quiere colaborar con el mantenimiento de la web, puedes aportar una donación a través de paypal con la cantidad que considere oportuna. Muchas Gracias.</div><div style="float:right;"><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="RQZHCRBRALC2L">
					<input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal. La forma rápida y segura de pagar en Internet.">
					<img alt="" border="0" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1" height="1">
					</form></p>
				</td>			
			</table>
		</div>		
		<a href="#"><div class="fixedButton" title="Arriba"><div style="top:-8px;" class="arrow"></div></div></a><!--boton volver arriba!-->