<script>(function(d, s, id) { 
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=345503222253641";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script><!-- script para el boton de facebook!-->
		
	<div class="fixedDiv">
		<div style="position:fixed;background-color:#644d3e;width:100%;height:5px;"></div>
		<!--menu social!-->
		<table style="magin:0 auto 0 auto;">
			<td style="margin:0;font-weight:bold;" class="nolink"><a style="color:#1b6c95;" href="http://www.passitedu.es">PassItEDU.ES</a></td>
			<td style="margin:0;width:380px;">Comparte este post <!--botones compartir!-->
				<div style="float:right;"><a href="https://twitter.com/share" class="twitter-share-button" data-via="PassItEDU" data-lang="es" data-hashtags="YoSoyEDU" data-dnt="true">Twittear</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div>
				<div style="float:right;" class="fb-share-button" data-href="http://www.passitedu.es" data-type="button_count"></div>
			</td>
			<td style="width:30%;padding:0;margin:0;"><!--buscador!-->
					<script> 
					  (function() {
					    var cx = '010586346072304361388:juelkdm0kbs';
					    var gcse = document.createElement('script');
					    gcse.type = 'text/javascript';
					    gcse.async = true;
					    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
					        '//www.google.com/cse/cse.js?cx=' + cx;
					    var s = document.getElementsByTagName('script')[0];
					    s.parentNode.insertBefore(gcse, s);
					  })();
					</script>
					<gcse:searchbox-only></gcse:searchbox-only>
			</td>
		</table>
	</div>

	<table id="menu">
		<div style="position:fixed;background-color:#644d3e;width:100%;height:5px;z-index:1000;"></div> <!-- barra marron!-->
		<tr>
			<td rowspan="2" style="padding:0px;"><%= link_to image_tag("passitlapiz.png", size: "285x80"), root_path %>
			</td> <!-- logo !-->

			<!--menu!-->
			<td style="width:100%;padding:0px;">
				<ul id="nav">
				<li><%= link_to "Recursos", categories_path %></li>
				<li><%= link_to "GNU/Linux", '#', class: 'submenu' %>
					<ul>
						<li><%= link_to "Shell de Linux", '#' %></li>				
					</ul>
				</li>
				<li><%= link_to "Herramientas", '#', class: 'submenu' %>
					<ul>
						<li><%= link_to "Conversor Unidades", '#' %></li>
						<li><%= link_to "Combinatoria", '#' %></li>
						<li><%= link_to "Binomio de Newton", '#' %></li>
						<li><a href="/es/tools/lista.php">Lista de vídeos</a></li>
					</ul>
				</li>
				<li><%= link_to "Diseño Web", '#', class: 'submenu' %>
					<ul>
						<li><%= link_to "HTML", '#' %></li>
						<li><%= link_to "CSS", '#' %></li>
						<li><%= link_to "HTML5", '#' %></li>
						<li><%= link_to "Crea un formulario", '#' %></li>
					</ul>
				</li>
				<li><%= link_to "Selectividad", '#' %></li>
				<li><%= link_to "Foro" , 'http://www.passitedu.foroactivo.com', :target => "_blank" %></li>
				</ul>
			</td>
		</tr>

		<tr>
			<td style="vertical-align:bottom;padding:0px;">
				<div class="socialButtons"><%= link_to image_tag("facebookw.png"), 'http://www.facebook.com/passitedu', :target => "_blank" %></div>
				<div class="socialButtons"><%= link_to image_tag("twitterw.png"), 'http://www.twitter.com/passitedu', :target => "_blank" %></div>
				<div class="socialButtons"><%= link_to image_tag("youtubew.png"), 'http://www.youtube.com/passitedu', :target => "_blank" %></div>
				<div class="socialButtons"><%= link_to image_tag("google+w.png"), 'http://www.plus.google.com/passitedu', :target => "_blank" %></div>
			</td>
		</tr>
	</table>

<!-- aqui ya comienza el cuerpo de la pagina !-->
<table style="margin:0 auto 0 auto;width:96.7%;border-spacing:0;">
<td style="padding:0px;vertical-align:bottom;"><div style="position:relative;bottom:-16px;right:-16px;-webkit-transform: rotate(-135deg);-moz-transform: rotate(-135deg);" class="triangle"></div></td><!--triang izq!-->