<% flash.each do |key, value| %>
  <% if ['info', 'success', 'danger', 'warning', 'notice', 'error'].include?(key) %>
    <div class="alert alert-<%= key %>">
      <a href="#" data-dismiss="alert" class="close">×</a>
      <ul>
        <li>
          <%= value %>
        </li>
      </ul>
    </div>
  <% else  %>
    <div class="alert alert-warning">
      <a href="#" data-dismiss="alert" class="close">×</a>
      <ul>
        <li>
          <%= value %>
        </li>
      </ul>
    </div>
  <% end  %>
<% end %>